@using SeriaSetUI.Models

<table style="border:1px solid black;width:80pt ; height: 120pt;">
@for (var i = 0; i < NumShapes; ++i)
{
    <tr>
        <td align="center">
            <ShapeComponent Shape="Shape" Color = "Color" FillType="FillStyle"/>
        </td>
    </tr>
}
</table>

@code {
    [Parameter]
    public Shape Shape { get; set; }
    [Parameter]
    public FillStyle FillStyle { get; set; }
    [Parameter]
    public Color Color { get; set; }

    [Parameter]
    public uint NumShapes { get; set; }

}
